[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
[alias]
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  la = "!git config -l | grep alias | cut -c 7-"
  co = checkout
  c = commit -m
  ds = diff --staged
  amend = commit --amend -C HEAD
  undo = reset --soft HEAD^
  standup = log --since="yesterday" --oneline --author='Martin Katreník'
  g = log --graph --date-order -C -M --pretty=format:'%C(yellow)%h%Creset - %C(green)%ad%Creset - %C(blue)%an%Creset %C(bold red)>%Creset %C(white)%s%Creset %C(bold red)%d%Creset' --abbrev-commit --date=short
  s = status -s
[push]
  default = upstream
[merge]
	conflictstyle = diff3
[push]
	default = upstream
